/** {
	outline: solid 2px red;
}*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.intro {
	margin: 0 auto;
	width: 70%;
	height: 20%;
	font-family: sans-serif;
	font-size: 1.2em;
	padding: 35px;
	line-height: 30px;
}

.welcome {
	float: right;
	padding: 20px;
	margin: 20px 0px;
}

.main {
	width: 70%;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 17%;
	background: center center;
}

.row div{
	text-decoration: none;
	list-style-type: none;
	padding: 10px;
}

footer {
	width: 68%;
	height: 10%;
	margin: 0 auto;
	border-top-width: 70%;
	border-top: 1px solid #AAAAAA;
	font-family: sans-serif;
	font-size: 0.8em;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.links {
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
}

.links a {
	text-decoration: none;
	color: #628ACB;
}
